.button {
    background-color: rgb(255, 231, 231);
    border: 2px solid #b14e4e;
    color: #b14e4e;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 20px;
    font-size: 18px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button:hover {
    background-color: #b14e4e;
    color: rgb(255, 231, 231);
}