.content {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column > * {
    margin: 0.5em;
}

h1 {
    color: #2a2a2a;
}

h3 {
    color: #2a2a2a;
}