.select-item {
    background-color: rgb(255, 231, 231);
    border: 2px solid #b14e4e;
    color: #b14e4e;
    font-size: 18px;
    padding: 10px 18px;
    transition: background-color 0.2s, color 0.2s;
    margin: 0;
}

.select-item:hover {
    background-color: rgb(255, 171, 171);
    color: #d36c6c;
}

.select-item.selected {
    background-color: #b14e4e;
    color: rgb(255, 231, 231);
}

.select-item.selected:hover {
    background-color: #d36c6c;
    color: rgb(255, 231, 231);
}

.select {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 0;
}

.select:first-child {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.select:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}